In [20]:
import pandas as  pd
import re

In [21]:
data = pd.read_csv('./combined_data.csv')

In [22]:
data

                                                    text labels
0      Hey, a guy I know is breathing down my neck to...      0
1      Mr Deeds! am i 87? these numbers mean nothing ...      0
2                   Why nothing. Ok anyway give me treat      0
3                                      no child support.      0
4                              why do you want a massage      1
...                                                  ...    ...
13100                               the 1for year old???      1
13101                  Gudnite....tc...practice going on      0
13102  mike i might be able to meet you tomoorow or f...      1
13103                        I can take you at like noon      0
13104                  no problem going to my apartment?      1

[13105 rows x 2 columns]

In [23]:
s= data['text'][0]
s

"Hey, a guy I know is breathing down my neck to get him some bud, anyway you'd be able to get a half track to usf tonight?"

In [24]:
result = re.sub(r'[^a-zA-Z ]+', '', s)

In [25]:
for l in range (len(data['text'])):
    s= data['text'][l]
    result = re.sub(r'[^a-zA-Z 0-9 ]+', '', s)
    data['text'][l] =result

In [26]:
data

                                                    text labels
0      Hey a guy I know is breathing down my neck to ...      0
1      Mr Deeds am i 87 these numbers mean nothing to...      0
2                    Why nothing Ok anyway give me treat      0
3                                       no child support      0
4                              why do you want a massage      1
...                                                  ...    ...
13100                                  the 1for year old      1
13101                         Gudnitetcpractice going on      0
13102  mike i might be able to meet you tomoorow or f...      1
13103                        I can take you at like noon      0
13104                   no problem going to my apartment      1

[13105 rows x 2 columns]

In [27]:
data.to_csv (r'Symbols_removed.csv')