In [1]:
import pandas as  pd
import re

In [2]:
data = pd.read_csv('./text_df.csv')

In [3]:
data

       Unnamed: 0                                              texts labels
0               0  hey a guy i know is breathing down my neck to ...      0
1               1  or deed am i 87 these number mean nothing to m...      0
2               2                why nothing of anyway give me treat      0
3               3                                   no child support      0
4               4                          why do you want a massage      1
...           ...                                                ...    ...
12906       13100                                   the for year old      1
12907       13101                         gudnitetcpractice going on      0
12908       13102  mike i might be able to meet you tomorrow or f...      1
12909       13103                        i can take you at like noon      0
12910       13104                   no problem going to my apartment      1

[12911 rows x 3 columns]

In [5]:
s= data['texts'][0]
s

'hey a guy i know is breathing down my neck to get him some bud anyway you had be able to get a half track to us tonight'

In [6]:
result = re.sub(r'[^a-zA-Z ]+', '', s)

In [10]:
for l in range (len(data['texts'])):
    s= str(data['texts'][l])
    result = re.sub(r'[^a-zA-Z 0-9 ]+', '', s)
    data['texts'][l] = result

<ipython-input-10-0aa01bf3b6bc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['texts'][l] = result

In [11]:
data

       Unnamed: 0                                              texts labels
0               0  hey a guy i know is breathing down my neck to ...      0
1               1  or deed am i 87 these number mean nothing to m...      0
2               2                why nothing of anyway give me treat      0
3               3                                   no child support      0
4               4                          why do you want a massage      1
...           ...                                                ...    ...
12906       13100                                   the for year old      1
12907       13101                         gudnitetcpractice going on      0
12908       13102  mike i might be able to meet you tomorrow or f...      1
12909       13103                        i can take you at like noon      0
12910       13104                   no problem going to my apartment      1

[12911 rows x 3 columns]

In [12]:
data.to_csv (r'Symbols_removed.csv')